@import url('https://fonts.googleapis.com/css2?family=Devonshire&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jim+Nightshade&family=Rock+Salt&family=Fredericka+the+Great&family=Cabin+Sketch:wght@400;700&family=Reenie+Beanie&display=swap');
  


  
  .phb {
  	width:11in;
  	height:8.5in;
  	column-count:2;
  	column-gap:100px;
  	background-color:transparent;
  	background-image: url('https://imgur.com/BZ0xJC2');
  	background-position:center;
  	background-size:100% 100%;
  	background-repeat:no-repeat;
  	filter:drop-shadow(1px 4px 14px black);
  	padding: 90px 130px ;
  	counter-increment:none;
  }
  
  .phb:after {
  	display:none;
  }
  
  
  
  .phb:nth-of-type(1) {
  	background-image:url('https://imgur.com/7fj88oJ');
  }
  
    /* PAGE NUMBERS */
  
  .phb .pageNumber {
  	counter-increment:phb-page-numbers;
  }

  .phb .pageNumber.auto {
  	left:280px;
  	bottom:50px;
  	color:black;
  }
  
  .phb > .pageNumber.auto:nth-of-type(2) {
  	right:270px;
  	left:unset
  }
  
  
  .brewRenderer .pages > .phb {
  	box-shadow:none;
  }
  
  /* TEXT TEXT TEXT */
  
  
  .phb p, .phb table, .phb ul, .phb blockquote, .phb blockquote strong  {
  	font-family:'Devonshire';
  	color: #412121;
  	font-size:20px;
  	line-height:1em;
  	padding:0;
  }
  
  .phb p {
  	text-align:left
  	page-break-inside:unset;
  	break-inside:unset;
  	margin-bottom:0px;
  }
  
  .phb p + p {
  	margin:0;
  	padding:0;
  }
  
  .phb em {
  	text-decoration:underline;
  	font-style:unset;
  }
  
  .phb strong {
  	letter-spacing:0;
  	font-size:1.2em
  }
  
  .phb del {
    text-decoration-style:double;
  }
  
  /*   LINKS   */
  
  .phb a, .phb a:visited {
  	color: #412121;
  	transition:all 1s ease;
  }
  
  .phb a:hover {
  	color:red;
  	transition:all 1s ease;
  }
  
  /*  HEADERS  */
  
  .phb h1, .phb h2, .phb h3, .phb h4, .phb h5, .phb .pageNumber {
  	font-family:'Devonshire';
  	font-weight:unset;
  }
  
 .phb h1 {
  	column-span:unset;
  	font-size:4em
  }
  
  .phb h1 + p:first-letter {
  	font-family:'Devonshire';
  	font-size:1.5em;
  	color: inherit;
  	padding-top:.3em;
  	margin-right:2px;
  }
  
  .phb h2 {
  	font-size:3em;
  
  }
  
  .phb h3 {
  	border:none;
  	margin-left:-20px;
  	text-size:2em
  }
  
  .phb h4 {
    font-size:20px
  }
  .phb h5 {
      font-size:25px
      }
  
  
  /*  TABLES  */
  
  .phb table tbody tr:nth-child(2n+1) {
  	background:linear-gradient(to left, #41212100, #41212122, #41212100);
  }
  
  .phb table thead th {
  	font-weight:unset;
  }
  
  .phb .classTable {
  	mix-blend-mode:multiply;
  	border:none;
  }
  
  .phb .classTable tbody tr {
  	line-height:.5em
  }
  
  
  /*  LISTS  */
  
  .phb hr + ul {
  	padding-top:18px;
  	margin-bottom:10px;
  	margin-left:15px
  }
  
  .phb .spellList {
	column-count: 2;
	column-span: none;
	-webkit-column-span: all;
	-moz-column-span: all;
  }
  
  /*  NOTES  */
  
  .phb blockquote {
  	border:20px solid;
  	border-image:url('https://www.gmbinder.com/images/k544p79.png');
  	border-image-slice:25% 10%;
  	border-image-width:30px;
  	border-image-repeat:stretch;
  	border-image-outset:10px;
  	position:relative;
  	background:none;
  	box-shadow:none;
  }
  
  .phb blockquote p {
  	font-size:inherit;
  }
  
  .phb .descriptive {
  	background:none;
  	box-shadow:none;
  	border-style:solid;
  	border-image:url('https://www.gmbinder.com/images/I2hMYzK.png');
  	border-image-slice:38% 10%;
  	border-image-width:40px;
  	border-image-repeat:stretch;
  	border-image-outset:0px;
  	padding:25px
  }
  
  .phb .descriptive p {
  	font-family:'jim nightshade';
  	color: #412121;
  	font-size:18px;
  	line-height:1.1em;
  }
  
  .phb .descriptive h5 {
  	font-family:'jim nightshade';
  	color:#412121;
  	font-size:0px
  }
  
  .phb .descriptive strong {
  	font-family:inherit
  }
  
  
  
  /* MONSTER STAT BLOCKS */
  
  .phb hr + blockquote {
  	background:none;
  	border:20px solid;
  	border-image:url('https://www.gmbinder.com/images/k544p79.png');
  	border-image-slice:25% 10%;
  	border-image-width:30px;
  	border-image-repeat:stretch;
  	border-image-outset:10px;
	padding: 5px 0px
  }
  
  .phb hr + blockquote h2 {
  	font-size:24px;
  }
  
  .phb hr + blockquote h3 {
  	font-size:28px;
  	margin-left:0
  }
  
  .phb hr + blockquote p, .phb hr + blockquote ul, .phb hr + blockquote li, .phb hr + blockquote ul strong, .phb hr + blockquote em, .phb hr + blockquote h3  {
  	color: #412121;
  	font-family:'reenie beanie';
  }
  
  .phb hr + blockquote hr + ul, .phb hr + blockquote table {
  	padding-top:0;
  	margin-left:0
  }
  
  .phb hr + blockquote p + p {
  	padding-bottom:0;
  	margin-bottom:0;
  }
  
  .phb hr + blockquote li {
  	font-size:20px;
  }
  
  .phb {
  box-shadow:none;
}
/*ToC Styling*/
 .toc a {color: inherit !important;}
  .toc li span:nth-child(2){width: auto;overflow: hidden;white-space: nowrap;display: block;}
  .toc li span:nth-child(2)::after {
    font-family: 'fredericka the great';
    font-size: 0.317cm;
    font-weight: normal;
    color: #3b3a3a;
    content: " ........................................""........................................."".........................................";
}

.toc li span:first-child {
    float: right;
    font-family: 'fredericka the great';
    font-size: unset;
    font-weight: normal;
    color: #412121;
    margin-left: 1px;
